/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v23-latin_cyrillic-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat-v23-latin_cyrillic-regular.woff") format("woff"); /* Modern Browsers */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-v23-latin_cyrillic-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat-v23-latin_cyrillic-500.woff") format("woff"); /* Modern Browsers */
}

/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v23-latin_cyrillic-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat-v23-latin_cyrillic-600.woff") format("woff"); /* Modern Browsers */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v23-latin_cyrillic-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat-v23-latin_cyrillic-700.woff") format("woff"); /* Modern Browsers */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/montserrat-v23-latin_cyrillic-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat-v23-latin_cyrillic-800.woff") format("woff"); /* Modern Browsers */
}

html {
  font-family: "Montserrat";
}

.section {
  margin-bottom: 100px;
}

.section-heading {
  font-size: 48px;
  line-height: 59px;
  font-weight: 400;
  color: #333;
}

.info-heading {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  color: #333;
}

.normal-text {
  font-size: 16px;
  line-height: 200%;
  font-weight: 400;
  color: #333;
}

.app-button {
  padding: 25px 37px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  background-color: #ff9900;
  color: #fff;
  transition: background-color 0.4s ease, outline 0.4s ease;
}

.app-button:hover,
.app-button:focus {
  background-color: rgba(255, 153, 0, 0.7);
}

.app-button:focus {
  outline: none;
}

.app-button:active {
  background-color: #e1670e;
}

.btn {
  padding: 20px 38px;
  font-size: 16px;
  line-height: 20px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-right: 75px;
  padding-left: 75px;
}

/* Header */
.header {
  background: #fff;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.2);
}

.container-header {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.burger {
  display: none;
  width: 30px;
  height: 23px;
  background: transparent;
  background-image: url("../img/burger.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 68px 0 0 0;
  height: 100%;
  display: none;
  z-index: 100;
  background: #fff;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  vertical-align: middle;
}

.is-active {
  transform: none;
}

.menu__list {
  text-align: center;
}

.menu__list__item:not(:last-child) {
  margin-bottom: 16px;
}

.menu__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  color: #333;
  transition: border-color 0.4s ease, outline 0.4s ease, color 0.4s ease;
}

.menu__link:hover {
  border-color: #ff9900;
}

.menu__link:focus {
  outline: 2px solid #ff9900;
}

.menu__link:active {
  outline: none;
  color: #e1670e;
  border-bottom: 2px solid #e1670e;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  left: auto;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ececec;
}

.header__logo-img {
  width: 224px;
  height: 72px;
}

.header-nav {
  margin-right: 85px;
}

.header_right {
  display: flex;
}

.header-nav__list {
  display: flex;
}

.header-nav__list__item {
  margin-right: 85px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.header-nav__list__item:last-child {
  margin-right: 0;
}

.header-nav__link {
  border-bottom: 2px solid transparent;
  color: #333;
  transition: border-color 0.4s ease, outline 0.4s ease, color 0.4s ease;
}

.header-nav__link:hover {
  border-color: #ff9900;
}

.header-nav__link:focus {
  outline: 2px solid #ff9900;
}

.header-nav__link:active {
  outline: none;
  color: #e1670e;
  border-bottom: 2px solid #e1670e;
}

.search-button {
  width: 24px;
  height: 24px;
  background-color: inherit;
  transition: outline 0.4s ease;
}

.search-button .search-icon rect {
  transition: fill 0.4s ease;
}

.search-button:hover .search-icon rect {
  fill: #ff9900;
}

.search-button .search-icon path {
  transition: stroke 0.4s ease;
}

.search-button:hover .search-icon path {
  stroke: #ff9900;
}

/* Hero */
.section-hero {
  position: relative;
}

.hero-img {
  min-height: 620px;
}

.hero-img-1 {
  background: url("../img/hero/slide1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-img-2 {
  background: url("../img/hero/slide2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-img-3 {
  background: url("../img/hero/slide3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-hero .swiper-pagination {
  bottom: 30px;
}
/* Буллеты */
.section-hero .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  line-height: 15px;
  background-color: #fff;
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.4);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.section-hero__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 100px 80px;
  color: white;
  z-index: 10;
}

.section-hero__heading {
  margin-bottom: 24px;
  max-width: 837px;
  font-size: 70px;
  line-height: 85px;
  font-weight: 800;
}

.section-hero__text {
  margin-bottom: 90px;
  max-width: 790px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}

/* About */
.section-about__heading {
  margin-bottom: 20px;
}

.about__text {
  margin-bottom: 50px;
  max-width: 1235px;
}

.section-about__content {
  display: flex;
}

.section-about__content_left {
  position: relative;
  display: inline-block;
  width: calc(100% / 2 - 18px);
  min-height: 622px;
  margin-right: 32px;
}

.left-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../img/about/man.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.left-img:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%);
}

.content_left__info {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.info__text {
  max-width: 454px;
  font-weight: 700;
  color: #fff;
}

.about__button-more {
  font-weight: 700;
  border: 3px solid #ff9900;
  background: transparent;
  color: #fff;
  transition: backgound-color 0.4s ease, outline 0.4s ease, border-color 0.4s ease;
}

.about__button-more:hover,
.about__button-more:focus {
  background-color: #ff9900;
}

.about__button-more:focus {
  outline: none;
}

.about__button-more:active {
  border-color: #e1670e;
  background-color: #e1670e;
}

.section-about__content_right {
  display: inline-block;
  width: calc(100% / 2 - 16px);
}

.card-about {
  display: flex;
  align-items: center;
  padding: 65px 60px;
  border: 1px solid #cacaca;
}

.card_right_top {
  margin-bottom: 32px;
}

.card-info {
  flex-grow: 1;
}

.right-text {
  max-width: 450px;
}

.card-image {
  flex-shrink: 0;
  margin-right: 50px;
  width: 190px;
  height: 165px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_top__image {
  background-image: url("../img/about/cube.svg");
}

.card_bot__image {
  flex-shrink: 0;
  margin-right: 50px;
  width: 190px;
  height: 165px;
  background-image: url("../img/about/gear.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* How */
.section-how__heading {
  margin-bottom: 50px;
}

.how__list-steps {
  display: flex;
  margin-bottom: 45px;
}

.list-steps__item:not(:last-child) {
  margin-right: 85px;
}

.step__button {
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  color: #333;
  background: transparent;
  transition: color 0.4s ease, outline 0.4s ease, border 0.4s;
}

.step__button:hover, :focus {
  color: #ff9900;
}

.step__button:active {
  outline: none;
  color: #e1670e;
}

.step-content {
  display: none;
}

.step-content-active {
  display: block;
}

.step__content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.step__content_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 43%;
}

.step__heading {
  line-height: 32px;
}

.how__buttons {
  display: flex;
  margin-top: 32px;
  align-items: center;
}

.app-button_small {
  margin-right: 32px;
  font-weight: 700;
}

.how__button-contract {
  font-weight: 400;
  border: 1px solid #333333;
  background: transparent;
  color: #333;
  transition: background 0.4s ease, color 0.4s ease, outline 0.4s ease;
}

.how__button-contract:hover,
.how__button-contract:focus,
.how__button-contract:active {
  outline: none;
  color: white;
}

.how__button-contract:hover,
.how__button-contract:focus {
  background: #666;
}

.how__button-contract:active {
  background: #000;
}

.step-img {
  display: block;
  width: 49%;
  min-height: 460px;
}

.step-img-1 {
  background-image: url("../img/how/1step.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.step-img-2 {
  background-image: url("../img/how/2step.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.step-img-3 {
  background-image: url("../img/how/3step.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.step-img-4 {
  background-image: url("../img/how/3step.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Questions */
.section-questions__heading {
  margin-bottom: 32px;
}

.accordion {
  border-bottom: 1px solid #cacaca;
}

.questions-wrapper {
  position: relative;
  margin-bottom: -1px;
  padding: 41px 0;
  cursor: pointer;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  transition: 0.4s ease;
  outline: none;
}

.ui-state-hover{
  transition: 0.4s ease;
  border-top: 1px solid #ff9900;
  border-color: #ff9900;
  z-index: 10;
}

.questions-wrapper:hover .questions__title{
  color: #ff9900;
}

.questions-wrapper:hover .accordion-icon {
  background-color: #ff9900;
  background-image: url("../img/questions/white-cross.svg");
}

.ui-state-focus{
  transition: 0.4s ease;
  border-color: #ff9900;
  z-index: 10;
}

.ui-state-focus .questions__title{
  color: #ff9900;
}

.ui-state-focus .accordion-icon {
  background-color: #ff9900;
  background-image: url("../img/questions/white-cross.svg");
}

.questions__title { 
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color:#333;
  transition: 0.4s ease;
  outline: none;
}

.ui-accordion-content{
  min-height: auto;
  margin-bottom: -1px;
  padding-bottom: 40px;
}

.accordion-icon {
  position: absolute;
  top: 30px;
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-image: url("../img/questions/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ececec;
  transition: 0.4s ease;
}

.questions__description{
  font-style: 16px;
  line-height: 200%;
  color: #333;
}

.questions__description:not(:first-child){
  padding-top: 40px;
}

.ui-state-active .accordion-icon{
  transform: rotate(45deg);
  transition: 0.4s ease;
}

/* Footer */
.footer {
  background: #222;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 594px;
}

.footer__content_left {
  margin-right: 32px;
  max-width: 568px;
}

.footer__logo-img {
  width: 224px;
  height: 72px;
}

.footer-nav {
  margin-top: 20px;
  margin-bottom: 90px;
}

.footer-nav__link {
  font-size: 18px;
  line-height: 200%;
  font-weight: 600;
  color: #cacaca;
  transition: color 0.4s ease, outline 0.4s ease;
}

.footer-nav__link:hover {
  color: #ff9900;
}

.footer-nav__link:focus {
  outline: 2px solid #ff9900;
}

.footer-nav__link:active {
  outline: none;
  color: #e1670e;
}

.footer-social__list {
  display: flex;
}

.footer-social__item {
  display: flex;
  margin-right: 25px;
  justify-content: center;
  align-items: center;
}

.footer-social__item:last-child {
  margin-right: 0;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-icon {
  width: 60px;
  height: 60px;
}

.footer-social__link:last-child {
  margin-right: 0;
}

.footer-social__item .footer-social__link .link-icon path {
  transition: fill 0.4s ease;
}

.footer-social__item:hover .footer-social__link .link-icon path {
  fill: #ff9900;
}

.footer-social__item:active .footer-social__link .link-icon path {
  fill: #e1670e;
}

.footer__content_center {
  margin-right: 32px;
  max-width: 774px;
}

.footer__form {
  width: 570px;
}

.form__heading {
  margin-bottom: 25px;
  font-size: 48px;
  line-height: 59px;
  font-weight: 400;
  color: #cacaca;
}

.form__name,
.form__email {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 14px 24px 14px 24px;
  border: none;
  background-color: #414141;
  color: #cacaca;
  transition: background-color 0.4s ease, outline 0.4 ease;
}

.form__textarea {
  display: block;
  width: 100%;
  min-height: 150px;
  resize: none;
  margin-bottom: 32px;
  padding: 14px 24px;
  border: none;
  background-color: #414141;
  color: #cacaca;
}

.form__name:hover,
.form__name:focus,
.form__name:active,
.form__email:hover,
.form__email:focus,
.form__email:active,
.form__textarea:hover,
.form__textarea:focus,
.form__textarea:active {
  outline: none;
  background-color: #666;
}

.agreement {
  font-size: 16px;
  line-height: 200%;
  font-weight: 400;
  color: #fff;
}

.footer__content_right {
  width: 20%;
  align-self: center;
}

.form_button {
  margin-right: 24px;
  padding: 19px 52px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #ff9900;
  color: #fff;
  transition: background-color 0.4s ease, outline 0.4s ease;
}

.form_button:hover,
.form_button:focus {
  background-color: #f7b045;
}

.form_button:focus {
  outline: none;
}

.form_button:active {
  background-color: #e1670e;
}

.form_bottom {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  border: 1px solid #cacaca;
  cursor: pointer;
}

input[type="checkbox"]:checked + label span {
  background: url("../img/check.svg") center no-repeat;
}

.checkbox-text {
  color: #cacaca;
}

.footer-text {
  color: #cacaca;
}

/* Adaptive */
@media (max-width: 1366px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }

  .section {
    margin-bottom: 80px;
  }

  .burger {
    display: block;
  }

  .menu {
    display: block;
  }

  .header__logo-img {
    width: 150px;
    height: 48px;
  }

  .header-nav {
    display: none;
  }

  .hero-img {
    min-height: 668px;
  }

  .section-hero__content {
    padding: 160px 77px;
  }

  .section-hero__heading {
    margin-bottom: 16px;
    max-width: none;
    font-size: 60px;
    line-height: 73px;
  }

  .section-hero__text {
    margin-bottom: 60px;
    max-width: none;
    font-size: 20px;
    line-height: 24px;
  }

  .about__text {
    max-width: none;
  }

  .section-about__content {
    flex-direction: column;
  }

  .section-about__content_left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
  }

  .left-img {
    min-height: 640px;
  }

  .section-about__content_right {
    display: inline-block;
    width: 100%;
  }

  .how__list-steps {
    margin-bottom: 50px;
  }

  .step__content_left {
    width: 46%;
  }

  .step-img {
    min-height: 689px;
  }

  .questions__item__heading {
    font-size: 20px;
    line-height: 32px;
  }

  .footer__content_center {
    margin-right: 0;
  }

  .footer__content_right {
    display: none;
  }
}

@media (max-width: 1023.98px) {
  .container-header {
    height: 69px;
  }

  .hero-img {
    min-height: 662px;
  }

  .section-hero__content {
    padding: 160px 40px;
  }

  .section-hero__heading {
    font-size: 50px;
    line-height: 61px;
  }

  .section-hero__text {
    font-size: 18px;
    line-height: 22px;
  }

  .left-img {
    min-height: 650px;
  }

  .content_left__info {
    padding: 34px 40px;
  }

  .info__text {
    max-width: 366px;
  }

  .card-about {
    padding: 35px 40px;
  }

  .card-image {
    margin-right: 16px;
    width: 114px;
    height: 99px;
  }

  .how__list-steps {
    justify-content: space-between;
  }

  .list-steps__item:not(:last-child) {
    margin-right: 0;
  }

  .step__content {
    flex-direction: column;
  }

  .step__content_left {
    width: 100%;
    order: 2;
  }

  .step-info {
    margin-bottom: 25px;
  }

  .step-img {
    margin-bottom: 38px;
    width: 100%;
    min-height: 284px;
  }

  .questions__item__heading {
    margin-right: 48px;
  }

  .container-footer {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer__content_left {
    margin-right: 0;
    margin-top: 50px;
    order: 2;
  }

  .footer__logo-img {
    margin-bottom: 16px;
  }

  .footer-nav {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .section {
    margin-bottom: 60px;
  }

  .section-heading {
    font-size: 24px;
    line-height: 29px;
  }

  .normal-text {
    font-size: 14px;
    line-height: 28px;
  }

  .btn {
    padding: 14px;
    width: 56%;
    font-size: 12px;
    line-height: 15px;
  }

  .header__logo-img {
    width: 110px;
    height: 35px;
  }

  .hero-img {
    min-height: 308px;
  }

  .section-hero .swiper-pagination {
    bottom: 15px;
  }

  .section-hero .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    line-height: 10px;
  }

  .section-hero__content {
    padding: 60px 22px;
    text-align: center;
  }

  .section-hero__heading {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 24px;
  }

  .section-hero__text {
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 15px;
  }

  .app-button {
    display: inline-block;
    width: 66%;
    padding: 14px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .about__text {
    margin-bottom: 8px;
  }

  .footer__content_center {
    width: 100%;
  }

  .left-img {
    margin-bottom: 8px;
    min-height: 200px;
  }

  .left-img:before {
    display: none;
  }

  .info__text {
    margin-bottom: 8px;
    font-weight: 400;
    color: #333;
  }

  .content_left__info {
    position: relative;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    background: none;
  }

  .about__button-more {
    color: #ff9900;
  }

  .card-about {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0;
    border: none;
  }

  .card-image {
    margin-right: 0;
    margin-bottom: 12px;
    width: 58px;
    height: 50px;
  }

  .info-heading {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
  }

  .section-how__heading {
    margin-bottom: 16px;
  }

  .how__list-steps {
    margin-bottom: 16px;
  }

  .step__button {
    font-size: 14px;
    line-height: 17px;
  }

  .step__content {
    align-items: flex-start;
  }

  .step_heading {
    line-height: 32px;
  }

  .app-button_small {
    padding: 14px;
    margin-right: 10px;
  }

  .how__button-contract {
    width: 41%;
  }

  .step-img {
    margin-bottom: 16px;
    min-height: 160px;
  }

  .questions_item__button {
    margin-left: 17px;
    width: 30px;
    height: 30px;
  }

  .cross {
    width: 18.6px;
    height: 18.6px;
  }

  .ui-accordion .ui-accordion-header {
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
  }

  .ui-accordion .ui-accordion-content {
    font-size: 14px;
    line-height: 28px;
  }

  .container-footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .footer__content_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: none;
    width: 100%;
    margin-top: 16px;
  }

  .footer__logo-img {
    width: 131px;
    height: 42px;
  }

  .footer-social__item {
    margin-right: 16px;
  }

  .link-icon {
    width: 40px;
    height: 40px;
  }

  .footer__form {
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid #595959;
  }

  .form__heading {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
  }

  .form__name,
  .form__email,
  .form__textarea {
    padding-right: 20px;
    padding-left: 20px;
    line-height: 32px;
  }

  .form_bottom {
    flex-direction: column;
    align-items: center;
  }

  .form_button {
    margin-right: 0px;
    margin-bottom: 11px;
    padding: 12px 24px;
    width: 62%;
    font-size: 12px;
    line-height: 15px;
  }

  .checkbox-text {
    font-size: 16px;
    line-height: 32px;
  }
}
